:root {
    --primary-color: #EE4D2D;
    --primary-opacity-color: rgb(238, 77, 45,0.2);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --header-height: 120px;
    --navbar-height: 40px;
    --header-with-search-height: calc(var(var(--header-height) - var(--navbar-height)));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 1 rem = 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}
.btn {
    min-width: 100px;
    cursor: pointer;
    padding: 8px 20px;
    background-color: var(--white-color);
    font-size: 1.3rem;
    border-radius: 2px;
    text-align: center;
}
.btn.btn--normal:hover {
    background-color: rgba(135, 135, 135,0.5);
}

.btn + .btn {
    margin-left: 5px;
}
/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.modal-display {
    display: flex;

}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn linear 0.3s;
}
.modal__body {
    width: 30%;
    background-color: #fff;
    margin: auto;
    border-radius: 5px;
    z-index: 999;
    overflow: hidden;
    transform-origin: center;
    animation: growth linear 0.3s;
}
/* Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}
@keyframes growth {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}