.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

/* common */
.flex-display { 
    display: flex;
}
.td-none {
    text-decoration: none;
}
/* specific */
.navbar {
    justify-content: space-between;
    padding-top: 5px;
}
.nav__list {
    padding-left: 0;
}
.nav__item {
    display: inline-flex;
    align-items: center;
    list-style-type: none ;
    margin: 0px 9px;
    min-height: 20px;
    cursor: pointer;
}

.nav__item,
.nav__link {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}
.nav__item:hover .nav__link,.nav__item:hover .nav__icon{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.nav__item--bold {
    font-weight: 400;
}
.nav_seperate {
    text-align: center;
    border-right: 1px solid #FB9086;  
}
.nav__icon {
    font-size: 1.6rem;
    color: var(--white-color);
    margin:0 4px;
}
/* user */
.nav__item--has-user:hover .nav__login-setting{
    display: block;
}
.nav__item--has-user {
    position: relative;
}
.nav__user-img {
    border-radius: 50%;
    width: 30px;
    margin-right: 5px;
}
.nav__username {
    font-weight: 400;
}
.nav__login-setting::before {
    content: "";
    position: absolute;
    top: -17px;
    right: 14px;

    display: block;
    border-width: 10px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.nav__setting-item:nth-child(4) {
    color: green ;
}
.nav__login-setting {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    right: 0px;
    width: 130px;
    background-color: var(--white-color);
    z-index: 999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2px;
}
.nav__setting-option {
    padding: 0;
}
.nav__setting-item:hover {
    background-color: #f1f1f1;
}
.nav__setting-item {
    color: var(--black-color);
    list-style-type: none;
    font-weight: 400;
    padding: 10px;
}
/* header qr */
.nav__item--disable {
    cursor: text;
    color: var(--white-color);
}
.nav__item--qr {
    position: relative;
}
.nav__item--qr:hover .qr {
    display: block;
}
.qr {
    position: absolute;
    display: none;
    top: 0;
    margin-top: 1.7rem;
    margin-left: 20px;
    max-width: 186px;
    background-color: var(--white-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn ease-in-out 0.5s;
    z-index: 999;
}

.qr__img {
    padding: 3px;
    width: 100%;
}

.qr__downloads {
    display: flex;
    padding-bottom: 5px;
}

.qr__downloads .qr__option {
    width: 50%;
    padding: 0px 16px;
}
/* header notification */
.nav_item--notification {
    position: relative;
}
.nav_item--showNotification:hover .notification {
    display: block;
}
.notification {
    display: none;
    top: 60%;
    right: 0;
    position: absolute;
    width: 404px;
    margin-top: 1.6rem;
    background-color: var(--white-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform-origin: calc(100% - 20px) top;
    animation: notificationGrowth ease-in 0.2s;
    z-index: 999;
}

@keyframes notificationGrowth {
    0% {
        opacity: 0;
        transform: scale(0);
    } 
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.notification::before {
    content: "";
    display: block;
    position: absolute;
    top: -19px;
    right: 0;
    margin-right: 23px;
    border: 10px solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.notification__header {
    padding: 10px;
    line-height: 1.6rem;
}
.notification__header  h3 {
    margin: 0;
    color: #5f5f5f;
    font-size: 1.3rem;
    line-height: 2rem;
    user-select: none;
}

.notification__list {
    width: 100%;
    padding-left: 0;
    list-style-type: none;
}
.notification__link {
    display: flex;
}

.notification__img {
    width: 75px;
    padding: 5px;
    padding-left: 10px;
}

.notification__info {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    color: var(--black-color);
}

.notification__info .notification__name { 
    font-weight: 400;
}

.notifications__item--view {
    background-color: var(--primary-opacity-color);
}
.notification__item:hover {
    background-color: #f1f1f1;
}
.notification__checkAll {
    padding: 10px;
    line-height: 1.6rem;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.notification__checkAll span {
    color: var(--black-color);
    font-weight: 600;
}

/* auth form css*/

.auth-form__header {
    margin: 10px 9px;
    padding: 10px 20px 0 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auth-form__header .auth-form__heading {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}
.auth-form__header .auth-form__switch-btn {
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.form {
    padding-top: 20px;
    padding-bottom: 10px;
    padding: 20px 20px 10px 20px;
}
.form__group + .form__group {
    padding-top: 10px;
}
.form__input {
    padding: 10px;
    width: 100%;
    border:1px solid;
    border-color: rgba(0, 0, 0,0.2);
    font-size: 1.2rem;
}
.auth-form__policy {
    padding: 0px 15px 0 15px;
    width: 100%;
    text-align: center;

    
}
.auth-form__policy-text
,.auth-form__policy-link {
    font-size: 1.2rem;
}
.auth-form__policy-link {
    color: var(--primary-color);
}

.auth-form__control {
    margin-top: 80px;
    padding-right: 20px;
    justify-content: flex-end;
    display: flex;
}
.auth-form__social {
    margin-top: 10px;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    background-color: #b9b7b7;

}
.btn--with-icon {
    display: flex;
    align-items: center;
    min-width: 48%;
    height: 34px;
    font-size: 12px;
    color: var(--black-color);
}
.btn--with-icon span {
    flex-grow: 1;
}
.btn--with-icon i {
    font-size: 1.8rem;
}
.btn--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

/* login */
.auth-form__help {
    display: flex;
    padding: 10px 20px;
    justify-content: flex-end;
}

.auth-form__help-item {
    margin-left: 10px;
    font-size: 1.2rem;
    color: #9d9b9b;
}
.auth-form__seperated {
    border-right: 1px solid #9d9b9b;
}
.auth-form__help-item--primary {
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
}
.auth-form__register,.auth-form__login {
    display: none;
}
/* header with search */
.header-with-search {
    display: flex;
    align-items: center;
    margin: 0 8px;
    height: var(--header-with-search-height);
}
.header__logo {
    display: flex;
    align-items: center;
    width: 220px;

}
.header__logo--img {
    width: 160px;
}
.header__search {
    display: flex;
    height: 40px;
    align-items: center;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    
}
.header__search-input-wrap {
    position: relative;
    height: inherit;
    border: none;
    flex: 1;
    border-radius: 2px;
}

.header__search-input {
    height: inherit;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    padding: 0 10px;
    border-radius: 2px;
}

.header__search-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--white-color);
    height: 80%;
    min-width: 50px;
    background-color: var(--primary-color);
    margin-right: 5px;
    border-radius: 2px;
}
.header__search-btn:hover {
    cursor: pointer;
    background-color: #ec593c;
}
path {
    fill: var(--white-color);
}
.header__cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.header__cart-list::before {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
    top: -22px;
    right: 3px;
    border-width: 13px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    z-index: 9999;
}
.header__cart-icon {
    font-size: 24px;
    padding-bottom: 4px;
    color: var(--white-color);
}
.header__cart-wrap:hover .header__cart-list {
    display: flex;
}
.header__cart-wrap {
    cursor: pointer;
}
.header__cart--quantity {
    position: absolute;
    top: -8px;
    right: 50px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 1px 7px;
    border-radius: 10px;
}
.header__cart-list {
    position: absolute;
    display: none;
    top: calc(100% + 10px);
    right: 50px;
    background-color: var(--white-color);
    width: 400px;
    z-index: 999;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    cursor: default;
}
.header__cart-list img {
    width: 40%;
    display: none;
}
.header__cart-list--no-cart img,
.header__cart-list--no-cart  .header__cart-list--no-cart-text {
    display: block;
}

.header__cart-list--no-cart {
    flex-direction: column;
    align-items: center;
    padding: 28px 0;
}

.header__cart-list--no-cart-text {
    display: none;
    font-size: 1.4rem;
}
/* has cart */
.header__cart-list--has-cart {
    flex-direction: column;
}
.header__cart-list--has-cart .header__cart-list-title {
    padding: 10px 5px;
    margin: 0;
    color: #ababab;
    font-weight: 500;
    font-size: 1.2rem;
}
/* modifier display */
.header__cart-list .header__cart-items {
    display: none;
}
.header__cart-list .header__cart-list-title {
    display: none;
}
.header__cart-list .header__access-cart {
    display: none;
}
.header__cart-list--has-cart .header__cart-items {
    display: block;
}
.header__cart-list--has-cart .header__cart-list-title {
    display: block;
}
.header__cart-list--has-cart .header__access-cart {
    display: flex;
}

.header__cart-items {
    margin: 0;
    padding: 0;
}
.header__cart-item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.header__cart-item:hover {
    background-color:#f9f8f8;
}
/* description inside the box */
.header__cart-item .header__cart-item-desc h4 {
    margin: 0;
    padding-top: 7px;
    font-size: 1.1rem;
}
.header__cart-item .header__cart-item-desc span {
    margin: 0;
    padding-bottom: 7px;
    font-size: 1rem;
    color: #ababab;
}
.header__cart-item .header__cart-item-desc {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1rem;
}
/* price box */
.header__cart-item .header__cart-item-price {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5px;
    font-size: 1.1rem;
}

.header__cart-item .header__cart-item-price p span {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.1rem;
    margin-right: 4px;
}
.header__cart-item .header__cart-item-price p {
    color: #ababab;
    font-size: 0.9rem;
}
.header__cart-item .header__cart-item-price span:hover {
    color: var(--primary-color);
    cursor: pointer;
}


.header__cart-item img {
    padding: 4px;
}

.header__cart-list--has-cart .header__cart-item img {
    width: 13%;
    display: block;
}
/* cart button */
.header__access-cart {
    height: 55px;
    justify-content: flex-end;
    align-items: flex-end;
}
.header__access-cart button {
    border: none;
    border-radius: 2px;
    height: 30px;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 5px;
}


.header__search-option {
    position: relative;
    padding: 7px 16px;
    border-left: 1px solid #ababab;
    min-width: 80px;
    cursor: pointer;
}
.header__search-option-down {   
    color: #4a4a4a;
    margin-left: 8px;
}
.header__search-option:hover .header__search-option-down {
    color: var(--primary-color);

}

.header__search-select {
    display: none ;
    position: absolute;
    right: 0;
    width: 100%;
    margin-top: 20px;
    padding: 0;
}

.header__search-select .header__search-select-item {
    list-style-type: none;
    padding: 13px 16px;
    background-color: var(--white-color);
    box-shadow: 0 0 3px rgba(100, 100, 111, 0.2);
    border-radius: 3px;

}
.header__search-select-item:hover {
    background-color: #f9f8f8;
}
.header__search-option:hover .header__search-select {
    display: block;
}

.header__search-option::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    height: 20px;
}
.header__search-select-item i {
    display: none;
    margin-left: 8px;
    color: var(--primary-color);
    
}
.header__search-select-item--active i {
    display: inline-block;
}
.search-history {
    display: none;
    position: absolute;
    width: 95%;
    left: 0;
    margin-top: 3px;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    z-index: 999;
}
.search-history__title {
    padding: 8px 12px;
    font-size: 1.3rem;
    color: #ababab;
}
.search-history__items {
    padding-left: 0;
    margin: 0;
}

.search-history__item {
    list-style-type: none;
    padding: 8px 12px;
    font-size: 1.2rem;
    color: var(--black-color);
}
.search-history__item:hover {
    background-color: #f1f1f1;
}
.header__search-input:focus ~ .search-history {
    display: block;
}

/* app container */
.app__container {
    background-color: #F5F5F5;
}
.app__content {
    padding-top: 36px;
}
/* category css */
.category {
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading {
    font-size: 1.5rem;
    padding: 8px 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list {
    padding: 12px 0;
    list-style-type: none;
}

.category-item--active .category-item__link {
    color: #dd1200cd;
    right: 0 !important;
    font-weight: 600;
}
.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    top: 11px;
    left: 15px;
    border-color: transparent transparent transparent #dd1200cd;
}

.category-item__link {
    display: block;
    position: relative;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 6px 23px; 
    color: var(--black-color);
    font-weight: 500;
    right: 0;
    transition: right linear 0.1s;
}
.category-item__link:hover {
    right: -4px;
    color: #dd1200cd;
}
/* home filter */
.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 10px 16px;
    justify-content: space-between;
    
}
.home-filter,.home-filter__left, .home-filter__right {
    display: flex;
    align-items: center;
}
.home-filter__label {
    display: flex;
    font-size: 1.3rem;
    margin-right: 12px;
}

.select-input {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    background-color: var(--white-color);
    min-width: 100px;
    width: 170px;
    height: 31px;
    margin-left: 10px;
    border-radius: 2px;
    font-size: 1.2rem;
    cursor: pointer;
}
.select-input:hover .select-input__dropdown {
    display: block;
} 
.select-input__dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: var(--white-color);
    width: inherit;
    border-radius: 2px;
}
.select-input__dropdown::before {
    content: "";
    display: block;
    position: absolute;
    top:-2px;
    width: inherit;
    height: 4px;
}
.select-input__option {
    list-style-type: none;
    padding: 10px 8px;
    cursor: pointer;

}
.select-input__option:hover {
    color: var(--primary-color);
}


.home-filter__btn {
    min-width: 70px;
}
.home-filter__btn + .home-filter__btn {
    margin-left: 8px;
}

.home-filter__page-num {
    margin-right: 16px;
    font-size: 1.2rem;
}
.home-filter__current-page {
    color: var(--primary-color);
}
.home-filter__page-control {
    display: flex;
    overflow: hidden;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn:nth-child(1) {
    border: 1px solid rgba(0, 0, 0, 0.04);
}
.home-filter__page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--white-color);
    flex: 1;
}
.home-filter__page-btn--disabled {
    background-color: #F9F9F9;
    color: #9d9b9b;
    cursor: default ;
}
/* home product */
.home-product__item {
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,0.1);
    transition: transform linear 0.2s;
    cursor: pointer;
}

.home-product__item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}
.home-product__img-item {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}   

.home-product__item-name {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: calc(3.6rem + 10px);
    padding: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product__price-box {
    display: flex;
    padding: 6px 10px;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product__old-price {
    font-size: 1.2rem;
    text-decoration: line-through;
    color: #ccc;
    margin-right: 6px;
}
.home-product__current-price {
    font-size: 1.5rem;
    color: var(--primary-color);
    
}
.home-product__action {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    align-items: center;
}
.home-product__like {
    font-size: 1.4rem;
    cursor: pointer;
}
i.home-product__like-icon-fill {
    display: none;
}
.home-product__like--liked .home-product__like-icon-fill {
    display: inline-block;
}
.home-product__like--liked .home-product__like-icon-empty {
    display: none;
}

.home-product__rating {
    font-size: 0.6rem;
    color: #ccc;
    margin-left: auto;
    margin-top: 1px;
}
.home-product__star-gold {
    color: rgba(226, 226, 0, 0.597);
}
.home-product__sold {
    margin-left: 5px;
    font-size: 1.1rem;
}
.home-product__origin {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}
.home-product__favourite {
    position: absolute;
    top: 10px;
    left: -2px;    
    padding: 1px 5px;
    color: var(--white-color);
    background-color: var(--primary-color);    
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.home-product__favourite::before {
    content: "";
    position: relative;
    top: 16px;
    right: 5px;
    border-top: 3px solid #a81d01 ;
    border-left: 3px solid transparent;
}
.home-product__promotion {
    position: absolute;    
    width: 40px;
    height: 36px;
    top: 0;
    right: 0;
    background-color: rgb(255, 216, 64,0.95);
    text-align: center;
    color: var(--white-color);
    font-size: 1.3rem;
}
.home-product__promotion::after {
    content: "";
    position: absolute;
    left: 0;
    top: 35.8px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgb(255, 216, 64,0.95) transparent rgb(255, 216, 64,0.95);
}
.home-product__promotion .sale {
    color: red; 
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
}
.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}
/* pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-item {
    list-style-type: none;
    margin: 0 8px;
}
.pagination-item__link {
    border-radius: 2px;
    min-width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    margin: 0 auto;
    font-weight: 300;
}
.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active:hover .pagination-item__link {
    opacity: 0.9;
}   
/* footer */
.footer {
    padding-top: 12px;
    border-top: 4px solid var(--primary-color);
}
.footer__heading {
    color: var(--black-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    padding-bottom: 10px;
}
.footer__item {
    list-style-type: none;
}
.footer__link {
    display: block;
    text-decoration: none;
    color: #5f5f5f;
    font-size: 1.2rem;
    padding: 10px 0;
}
.footer__link:hover {
    color: var(--primary-color);
}
.footer__icon {
    padding-right: 5px;
    font-size: 1.4rem;
}
.footer__download {
    display: flex;
    margin-top: 10px;
}
.footer__qr {

    width: 80px;
    object-fit: contain;
    border: 1px solid #777777;
}
.footer__download-apps {
    flex: 1;
}
.footer__download-option {
    height: 27px;
    margin-left: 10px;
}
.footer__download-option + .footer__download-option {
    margin-top: 16px;
}